package.lock.json
node_modules
tsconfig.json
.github/*
.gitignore
package.json
package-lock.json
src/*
__tests__/*
coverage/*
jest.config.ts
dist/__tests__/*
dist/output/*
dist/jest.config.js
dist/jest.config.d.ts
output/*
